@import 'vars';

@mixin size($width: auto, $height: auto){
    width: $width;
    height: $height;
}

@mixin display($display, $justify-content){
    display: $display;
    justify-content: $justify-content;
}

@mixin header($fontSize, $color){
    font-size: $fontSize;
    color: $color;
}

