@import 'fonts';

// Colors
$mainColor:         #5774b8;
$mainBgColor:       #e5f2fa;
$darkMainColor:     #3b3944;
$lightMainColot:    #36bde3;
$logoColor:         #4561a3;
$lastPriceColor:    #737e96;
$newPriceColor:     #36bde3;
$indicatorColor:    #2d96cc;
$buyNowBackground:  #fff;
$priceLineColor:    #d9ecf2;


// Size
$logoFontSize:       43px;
$navListFontSize:    18px;
$lastPriceSize:      28px;
$newPriceSize:      44px;

// Fonts

$robotoRegular:     'Roboto regular', sans-serif;
$robotoMedium:      'Roboto medium', sans-serif;
$robotoBold:        'Roboto bold', sans-serif;
$robotoBlack:       'Roboto black', sans-serif;



